experiments
**/*.pyc
norwegian-gpt2
shards
wandb
datasets
notebooks/misc/nei_df.parquet
echo_files/
node_modules
.history/*
transformer/__pycache__/
__pycache__
.DS_Store
**/.DS_Store
**/._.DS_Store

**/.ipynb_checkpoints